In [1]:
import numpy as np
import pandas as pd
import zipfile as zfile
from functools import reduce

In [2]:
### thanks to MarcH https://stackoverflow.com/a/14981125 for this function to print to stderr: 
from __future__ import print_function
import sys

def errprint(*args, **kwargs):
    print(*args, file=sys.stderr, **kwargs)
###

In [3]:
def openChapters(filename):
    """
    This function open a zip or a csv file containing raw trade data from customs.go.jp.
    The following columns are expected in the file:
    - "Year", containing a 4 digit year number
    - "Country, a 3-digit code for each country
    - "HS", a code used to identify the category of the imported/exported product.
    Also, we expect 36 columns created as a couple "Type-Mon" where "type" is one among
    "Quantity1", "Quantity2" or "Value", while "Mon" represents the first three letters
    (capitalized) of a specific month, e.g. "Jan", "Aug" etc. 
    In case the file is a zip with multiple csv files, the function opens and merges
    the files into a single DataFrame object, which the function returns.
    If the file is a single csv, return the DataFrame built from it.
    """
    def merge(frame1,frame2):
        return frame1.append(frame2,ignore_index=True)
    
    pieces = []
    trade_types = {"Year":int,"HS":object, "Country":object}
    if filename[-4:] == ".zip":
        with zfile.ZipFile(filename) as z:
            for f in z.namelist():
                if f[-4:] == ".csv":
                    with z.open(f) as piece:
                        piece = pd.read_csv(piece, dtype=trade_types)
                        if "Quantity1-Apl" in piece.columns.tolist():
                            piece.rename(columns={"Quantity1-Apl":"Quantity1-Apr",\
                                                  "Quantity2-Apl":"Quantity2-Apr",\
                                                 "Value-Apl":"Value-Apr"},\
                                         inplace=True)
                        pieces.append(piece)
            return reduce(merge, pieces)
        
    elif filename[-4:] == ".csv":
        single_file = pd.read_csv(filename, dtype=trade_types)
        return single_file

In [124]:
def meltMonths(df):
    '''
    This function melts the 36 columns "unit-month" into three:
    - "date", a Y-M-D date format with the last day of the month
    - "type", with one of the three possible values "Quantity1", "Quantity2", "Value"
    - "measure", with the value associated to the type
    '''
    # this dictionary will be useful to convert the months from words to digits
    month_dict = {"Jan":"-01", "Feb":"-02","Mar":"-03","Apr":"-04",\
             "May":"-05", "Jun":"-06","Jul":"-07","Aug":"-08",\
             "Sep":"-09", "Oct":"-10","Nov":"-11","Dec":"-12"}
    
    # a very lousy check but a check nontheless...
    if len(df.columns) < 20:
        errprint("meltMonths: the dataframe provided does not have monthly columns!")
        return df
        
    columns = df.columns.tolist()
    # not interested in yearly values - can recover them later anyway
    melting = df.drop(columns=[c for c in columns if "-Year" in c])
    melting = melting.drop(columns=["Exp or Imp"])
        
    ids = ["Year", "HS", "Country", "Unit1", "Unit2"]
    # melting all values but the above
    to_melt = melting.columns.tolist()
    for c in ids:
        to_melt.remove(c)
        
    melted = pd.melt(melting, id_vars=ids, value_vars=to_melt, value_name = "measure")
    
    # splitting the month and the unit in two different columns
    # note: the comprehension list is actually faster than str.split and str.extract
    melted[["type","month"]] = pd.DataFrame([r.split('-') for r in list(melted["variable"])])
    melted = melted.drop(columns=["variable"])
    
    # we can start reducing the size of the DF by erasing the rows that have Quantity 1
    # or Quantity 2 without a measure.
    no_qty1 = melted[(melted["type"] == "Quantity1") & (melted["Unit1"] == "  ")].index
    no_qty2 = melted[(melted["type"] == "Quantity2") & (melted["Unit2"] == "  ")].index
    melted = melted.drop(no_qty1).drop(no_qty2)
    
    # now, merging creating a datetime column from the year and the month
    melted["month"] = melted["month"].replace(month_dict)
    melted["date"]=melted.Year.map(str)+melted.month
    
    # we can now get rid of year, day and month:
    melted = melted.drop(columns=["Year","month"])
    
    return melted

In [5]:
def meltUnits(df):
    '''
    This function executes an essential transformation for trade files, as
    in the original file up to three units (unit1, unit2, and the implicit
    "yen" value) are present for each row.
    We want to have a table that is  normalized  with respect to units,
    that is, a row will have a column "unit" that will contain the exact 
    unit the measure is in (e.g. Kg, Ton, No. of items, 1000 yen...) and a
    column for the numeric value ("measure").
    '''
    # a very lousy check but a check nontheless...
    if "Unit2" not in df.columns.tolist():
        errprint("meltUnits: the dataframe provided does not have units!")
        return df
    
    melted = df.copy()
    # this or dropna won't work
    melted["unit"] = np.nan
    
    # creating the masks that will be useful to reconstruct a single unit column
    q1_mask = (melted["type"] == "Quantity1")
    q2_mask = (melted["type"] == "Quantity2")
    val_mask = (melted["type"] == "Value")
    
    # not entirely satisfied with using np.where for multiple values on the same column
    melted["unit"] = np.where(q1_mask, melted["Unit1"], melted["unit"])
    melted["unit"] = np.where(q2_mask, melted["Unit2"], melted["unit"])
    melted["unit"] = np.where(val_mask, "000s JPY", melted["unit"])
    
    # these columns have been replaced by "unit", won't be useful anymore
    melted.drop(columns=["Unit1","Unit2","type"], inplace=True)
    
    # drop the rows with an empty unit (happens when unit2 is empty)
    # empty units are actually a string of two spaces: "  ".
    melted = melted.dropna(subset=["unit"])
    empty_id = melted[melted["unit"]=="  "].index
    melted = melted.drop(empty_id)
    
    return melted

In [6]:
def normalizeData(file, to_db_file = None, to_dataframe = None):
    '''
    Open a trade file (csv, zip) and normalizes it. If a pd.Dataframe reference
    or a csv db file (priority on DF) is provided, adds the normalized file to it
    Returns a pd.DataFrame.
    '''
    unnormalized = openChapters(file)
    month_melted = meltMonths(unnormalized)
    unit_melted = meltUnits(month_melted)

    if to_dataframe != None:
        # we are giving priority to existing dataframes.
        # if both a DF and a file are specified, only the DF will be considered.
        if to_db_file != None:
            errprint("warning: both DataFrame and csv file were provided to normalizeData, but only the DataFrame will be used.")
        base = to_dataframe
        # merge to the existing dataframe
        pass
    elif to_db_file != None:
        base = openChapters(to_db_file)
        #merge to the existing file
        pass
    else:
        # no file or DataFrame to merge with
        return unit_melted

In [7]:
path = "trade2015-2019.zip"
df = openChapters(path)
df.iloc[150:200]

,Exp or Imp,Year,HS,Country,Unit1,Unit2,Quantity1-Year,Quantity2-Year,Value-Year,Quantity1-Jan,...,Value-Sep,Quantity1-Oct,Quantity2-Oct,Value-Oct,Quantity1-Nov,Quantity2-Nov,Value-Nov,Quantity1-Dec,Quantity2-Dec,Value-Dec
150,2,2015,'010620031',205,NO,KG,130,8,646,0,...,0,0,0,0,130,8,646,0,0,0
151,2,2015,'010620031',207,NO,KG,228,43,6475,0,...,0,0,0,0,20,4,1013,167,27,1175
152,2,2015,'010620031',213,NO,KG,1820,119,17861,57,...,4667,81,23,1481,2,19,2209,585,28,4869
153,2,2015,'010620031',225,NO,KG,25,5,2641,0,...,0,0,0,0,0,0,0,0,0,0
154,2,2015,'010620031',227,NO,KG,265,10,1424,0,...,0,0,0,0,0,0,0,0,0,0
155,2,2015,'010620031',238,NO,KG,1973,108,16589,0,...,1899,285,16,4859,0,0,0,20,2,295
156,2,2015,'010620031',245,NO,KG,1268,104,7510,0,...,381,0,0,0,0,0,0,0,0,0
157,2,2015,'010620031',302,NO,KG,1450,60,5223,0,...,0,0,0,0,241,21,773,0,0,0
158,2,2015,'010620031',304,NO,KG,19754,990,70680,2313,...,4675,1676,69,5755,1117,25,3203,2286,198,7280
159,2,2015,'010620031',305,NO,KG,78,56,2402,0,...,1324,0,0,0,0,0,0,38,5,739
160,2,2015,'010620031',309,NO,KG,4900,162,7861,0,...,0,100,5,378,950,74,1577,0,0,0
161,2,2015,'010620031',319,NO,KG,40,64,1098,0,...,0,0,0,0,0,0,0,15,59,553
162,2,2015,'010620031',326,NO,KG,59,26,521,0,...,0,0,0,0,38,10,228,0,0,0
163,2,2015,'010620031',403,NO,KG,20,2,429,0,...,0,0,0,0,0,0,0,0,0,0
164,2,2015,'010620031',407,NO,KG,30,12,534,0,...,0,0,0,0,0,0,0,0,0,0
165,2,2015,'010620031',412,NO,KG,189,19,1966,0,...,0,0,0,0,0,0,0,0,0,0
166,2,2015,'010620031',413,NO,KG,191,11,2996,0,...,0,50,5,658,0,0,0,0,0,0
167,2,2015,'010620031',518,NO,KG,2470,138,3563,192,...,514,0,0,0,0,0,0,0,0,0
168,2,2015,'010620031',519,NO,KG,497,90,851,0,...,202,0,0,0,81,30,239,0,0,0
169,2,2015,'010620031',520,NO,KG,254,28,6710,0,...,603,0,0,0,0,0,0,50,10,230
170,2,2015,'010620031',541,NO,KG,637,38,5186,0,...,0,50,5,345,0,0,0,139,9,822
171,2,2015,'010620031',543,NO,KG,10234,383,6474,1024,...,545,0,0,0,0,0,0,296,14,404
172,2,2015,'010620031',546,NO,KG,4367,308,19873,447,...,392,0,0,0,780,61,3137,1093,73,4778
173,2,2015,'010620031',551,NO,KG,22,2,811,0,...,0,0,0,0,0,0,0,0,0,0
174,2,2015,'010620031',613,NO,KG,205,35,2581,0,...,0,20,10,480,0,0,0,40,10,511
175,2,2015,'010620039',105,NO,KG,5172,415,2860,0,...,267,2500,200,1416,0,0,0,0,0,0
176,2,2015,'010620039',118,NO,KG,809,271,5756,101,...,0,36,20,221,138,30,993,80,20,752
177,2,2015,'010620039',205,NO,KG,8,4,352,8,...,0,0,0,0,0,0,0,0,0,0
178,2,2015,'010620039',207,NO,KG,29,16,548,0,...,0,0,0,0,3,13,239,26,3,309
179,2,2015,'010620039',213,NO,KG,1110,239,12385,97,...,1293,210,53,2846,0,0,0,209,19,2399
180,2,2015,'010620039',215,NO,KG,5,1,240,0,...,0,0,0,0,0,0,0,0,0,0
181,2,2015,'010620039',227,NO,KG,147,3,576,0,...,0,0,0,0,0,0,0,0,0,0
182,2,2015,'010620039',245,NO,KG,1683,180,9314,0,...,1347,142,30,751,0,0,0,89,3,342
183,2,2015,'010620039',302,NO,KG,952,324,12380,30,...,777,29,3,332,194,117,4171,0,0,0
184,2,2015,'010620039',304,NO,KG,4703,744,39145,609,...,3329,718,79,4108,466,48,3901,340,37,5137
185,2,2015,'010620039',404,NO,KG,120,32,738,0,...,0,0,0,0,0,0,0,0,0,0
186,2,2015,'010620039',517,NO,KG,406,50,448,0,...,247,0,0,0,0,0,0,0,0,0
187,2,2015,'010620039',518,NO,KG,530,30,634,0,...,0,0,0,0,0,0,0,0,0,0
188,2,2015,'010620039',519,NO,KG,109,47,397,0,...,0,0,0,0,0,0,0,0,0,0
189,2,2015,'010620039',546,NO,KG,282,15,846,0,...,0,0,0,0,0,0,0,50,10,256
190,2,2015,'010620090',118,NO,KG,64,26,589,64,...,0,0,0,0,0,0,0,0,0,0
191,2,2015,'010620090',245,NO,KG,14,8,347,0,...,0,0,0,0,0,0,0,0,0,0
192,2,2015,'010620090',302,NO,KG,158,2,325,0,...,0,0,0,0,0,0,0,0,0,0
193,2,2015,'010620090',304,NO,KG,69,25,322,0,...,0,69,25,322,0,0,0,0,0,0
194,2,2015,'010620090',543,NO,KG,6,35,615,0,...,0,0,0,0,0,0,0,0,0,0
195,2,2015,'010631000',205,NO,KG,390,322,57559,0,...,0,3,2,299,40,28,6450,57,57,9601
196,2,2015,'010631000',207,NO,KG,223,215,19488,10,...,4105,47,58,4222,44,45,3698,50,52,3129
197,2,2015,'010631000',208,NO,KG,508,509,46605,18,...,5754,101,152,9138,20,17,1672,43,40,3516
198,2,2015,'010631000',213,NO,KG,152,180,19808,11,...,1656,14,12,2152,8,8,1628,73,93,5692
199,2,2015,'010631000',218,NO,KG,61,70,6879,0,...,2491,0,0,0,18,24,2682,4,4,334

In [112]:
df1 = meltMonths(df)
df1[df1["date"].isna()].count()

HS         0
Country    0
Unit1      0
Unit2      0
measure    0
type       0
date       0
dtype: int64

In [113]:
df2 = meltUnits(df1)
df2.iloc[150:200]

              HS Country   measure    date unit
200  '010631000'     225         1  2015-1   NO
201  '010631000'     227         0  2015-1   NO
202  '010631000'     245         0  2015-1   NO
203  '010631000'     302         0  2015-1   NO
204  '010631000'     304         0  2015-1   NO
205  '010631000'     407        11  2015-1   NO
206  '010632000'     112        79  2015-1   NO
207  '010632000'     117       163  2015-1   NO
208  '010632000'     204         0  2015-1   NO
209  '010632000'     205         0  2015-1   NO
210  '010632000'     207         0  2015-1   NO
211  '010632000'     208       145  2015-1   NO
212  '010632000'     213         0  2015-1   NO
213  '010632000'     245         0  2015-1   NO
214  '010632000'     304        16  2015-1   NO
215  '010632000'     403         0  2015-1   NO
216  '010632000'     606         0  2015-1   NO
217  '010639000'     207         0  2015-1   NO
218  '010639000'     208       311  2015-1   NO
219  '010639000'     210         0  2015-1   NO
220  '010639000'     218         0  2015-1   NO
221  '010639000'     304        16  2015-1   NO
222  '010639000'     403         0  2015-1   NO
223  '010639000'     543         0  2015-1   NO
224  '010641000'     143     28650  2015-1   NO
225  '010641000'     207    145530  2015-1   NO
226  '010641000'     208    108800  2015-1   NO
227  '010641000'     242         0  2015-1   NO
228  '010641000'     246         0  2015-1   NO
229  '010641000'     309         0  2015-1   NO
230  '010641000'     601         0  2015-1   NO
231  '010649000'     105  25000000  2015-1   NO
232  '010649000'     106         0  2015-1   NO
233  '010649000'     118         0  2015-1   NO
234  '010649000'     205     12640  2015-1   NO
235  '010649000'     207    218000  2015-1   NO
236  '010649000'     213         0  2015-1   NO
237  '010649000'     220         0  2015-1   NO
238  '010649000'     520         0  2015-1   NO
239  '010649000'     527         0  2015-1   NO
240  '010690011'     207         0  2015-1   NO
241  '010690011'     213         0  2015-1   NO
242  '010690011'     245         0  2015-1   NO
243  '010690011'     302        67  2015-1   NO
244  '010690011'     304         0  2015-1   NO
245  '010690011'     310         0  2015-1   NO
246  '010690011'     312         0  2015-1   NO
247  '010690011'     404         0  2015-1   NO
248  '010690011'     406         0  2015-1   NO
249  '010690011'     518         0  2015-1   NO

In [115]:
df2_nozero = df2[df2["measure"]!=0]
df2_nozero = df2_nozero.sort_values(by=["Country","HS","unit","date"]).reset_index(drop=True)
df2_nozero.to_csv("trade2015-2019incompl_nozero.zip", index=False, compression="infer")