In [1]:
import numpy as np
import pandas as pd
import zipfile as zfile
from functools import reduce
import matplotlib.pyplot as plt
import seaborn as sns
from tradeanalysis import TradeReport as trr
from tradefile import TradeFile as trf

In [2]:
data_2020_2021 = trf("../data/import_PC_2020-2020.zip", merge_file="../data/import_PC_2021-2021.zip")
print(data_2020_2021.data.describe())
print(data_2020_2021.data.sample(10))

tradefile   : WARNING  Warning: this operation might take more than one  minute if the file spans over more years.
tradefile   : WARNING  Warning: this operation might take more than one  minute if the file spans over more years.

Opening ../data/import_PC_2020-2020.zip...
Loading the file...
Unpivoting the monthly columns. This might take a minute...

tradefile   : INFO     The melting took 0.10056781768798828, the splitting 0.7796595096588135, the cleaning 0.08223152160644531 and the date merging time is 0.34664154052734375.
tradefile   : INFO     The melting took 0.10056781768798828, the splitting 0.7796595096588135, the cleaning 0.08223152160644531 and the date merging time is 0.34664154052734375.
tradefile   : INFO     Unpivoting the metrics...
tradefile   : INFO     Unpivoting the metrics...
tradefile   : INFO     Merging ../data/import_PC_2021-2021.zip to the existing database.
tradefile   : INFO     Merging ../data/import_PC_2021-2021.zip to the existing database.

Opening ../data/import_PC_2021-2021.zip...
Loading the file...
Unpivoting the monthly columns. This might take a minute...

tradefile   : INFO     The melting took 0.05557513236999512, the splitting 0.44306182861328125, the cleaning 0.04329395294189453 and the date merging time is 0.1980421543121338.
tradefile   : INFO     The melting took 0.05557513236999512, the splitting 0.44306182861328125, the cleaning 0.04329395294189453 and the date merging time is 0.1980421543121338.
tradefile   : INFO     Unpivoting the metrics...
tradefile   : INFO     Unpivoting the metrics...

              value
count  3.883580e+05
mean   6.277731e+08
std    8.646442e+09
min    1.000000e+00
25%    1.184000e+03
50%    1.638000e+06
75%    3.669475e+07
max    9.847465e+11
            code country       value     date unit kind
309455   2110503     108          45  2020-06   MT   PC
110230     70125     209    33511000  2020-02  JPY   PC
14237    7050303     324           6  2021-01   NO   PC
1990         401     103           4  2021-01   MT   PC
2304       21105     117         720  2020-01   MT   PC
539307     70119     234  2080597000  2020-09  JPY   PC
577053  70503031     517          81  2020-10   NO   PC
703777   8130101     103     1326543  2020-12   SM   PC
269342     70503     545        1523  2020-05   NO   PC
464140         5     239     8850000  2020-08  JPY   PC

In [3]:
data_2020_2021.save_to_file(path="../data/")

tradefile   : INFO     TradeFile.save_to_file: saved data to ../data/PC_2020-01_2021-01.csv.
tradefile   : INFO     TradeFile.save_to_file: saved data to ../data/PC_2020-01_2021-01.csv.

In [2]:
report = trr(source_file="../data/PC_2020-01_2021-01.csv")

TradeReport: the uploaded data start at date 2020-01-01 00:00:00 and end at date 2021-01-01 00:00:00.

In [3]:
report.trade_df.head(10)

                                         value
kind date       country code unit
PC   2020-01-01 103     0    JPY    2521380000
                        1    JPY      25685000
                             JPY      77133000
                             NO           7079
                        2    JPY   14008736000
                        3    JPY   30451277000
                        4    JPY     171658000
                             MT            995
                        5    JPY        307000
                             JPY   86998243000

In [48]:
df_group = report.trade_df.loc['PC', :,[210,220],  403, 'JPY'].reset_index(['kind', 'code', 'unit'])
df_group.groupby(['country', pd.Grouper(level="date", freq='M')]).mean()

code     4.030000e+02
value    4.769042e+06
dtype: float64

In [27]:
df['date'] = pd.to_datetime(df['date'])

In [30]:
df.set_index(['kind', 'date', 'country', 'code', 'unit'], inplace=True)
df.head(10)

                                         value
kind date       country code unit
PC   2020-01-01 103     0    JPY    2521380000
                        1    JPY      25685000
                             JPY      77133000
                             NO           7079
                        2    JPY   14008736000
                        3    JPY   30451277000
                        4    JPY     171658000
                             MT            995
                        5    JPY        307000
                             JPY   86998243000